# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache

# IDEs
.idea/
# .vscode/   # uncomment if you don't want to share launch configs

# OS
Thumbs.db
.DS_Store

# BTAP-specific: temp WAV files written by WaveformService next to media files
.btap_waveform_*.wav
